Game/.vs/
Game/Debug/
Game/x64/
Game/Game.o
Game/Game.exe
Game/Game.vcxproj
Game/Game.vcxproj.filters
Game/Game.vcxproj.user
Game/openal32.dll
Game/sfml-audio-2.dll
Game/sfml-audio-2.dll
Game/sfml-audio-d-2.dll
Game/sfml-graphics-2.dll
Game/sfml-graphics-d-2.dll
Game/sfml-network-2.dll
Game/sfml-network-d-2.dll
Game/sfml-system-2.dll
Game/sfml-system-d-2.dll
Game/sfml-window-2.dll
Game/sfml-window-d-2.dll
SFML-2.5.1/
